	<p style="height:20px;"/>
	<div class="slds-text-align_center sfdx-note sfdx-slim slds-m-top_large" style="top:10px;">
		<p>
			Created by <a href="https://twitter.com/mshanemc" target="_blank">Shane McLaughlin</a>.  Code at <a href="https://github.com/mshanemc/deploy-to-sfdx" target="_blank">https://github.com/mshanemc/deploy-to-sfdx</a>.
		</p>
		<p>
			Derived from the <a href="https://deploy-to-sfdx" target="_blank">original deployer</a> by <a href="https://twitter.com/WadeWegner" target="_blank">Wade Wegner</a> available at <a href="https://github.com/wadewegner/deploy-to-sfdx" target="_blank">https://github.com/wadewegner/deploy-to-sfdx</a>
		</p>
	</div>

</body>
</html>