.slds-text-heading_medium,
.slds-text-heading--medium {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25;
}

.trial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

img {
  width: 400px;
}
