<!-- hidden div to make deployId available to vue scripts -->
<div id="deployId" style="display:none">
	<%= deployId %>
</div>

<% include ../partials/head %>
<main class="slds-card" id="regular_display_area" v-cloak>

	<div id="loaderBlock" v-if="!complete">
		<h2 class="slds-text-heading_medium slds-p-top_medium slds-p-bottom_medium sfdx-wrap">
			<img src="/images/loader.gif" style="width:27px;"  /> Deploying
			<strong>
				{{ deployId }}
			</strong>
		</h2>
	</div>

	<div id="loginBlock" v-if="mainUser.loginUrl">
		<div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">

			<p class="slds-m-around_large">
				<strong>Note:</strong> It can take up to 5 minutes for the my domain DNS to propogate. If the scratch org doesn't load,
				refresh it in a few minutes.</p>

			<div class="slds-notify slds-notify_toast slds-theme_success" role="alert">

				<div class="slds-notify__content">
					<h2 class="slds-text-heading_small slds-grid slds-grid_align-spread slds-grid_vertical-align-center">
						Your org is ready!
						<div>
							<a id="deleteButton" v-on:click="deleteOrg" class="slds-button slds-button_destructive">Delete</a>
							<a id="loginUrl" target="_blank" v-bind:href="mainUser.loginUrl" class="slds-button slds-button_neutral">Launch</a>
						</div>
					</h2>
				</div>
			</div>


		</div>
	</div>

	<div id="passwordBlock" v-if="mainUser.password">
		<div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">

			<p class="slds-m-around_large">
				<strong>Note:</strong> Use the button above to login for the first time. These credentials are for other uses (mobile app,
				integrations). Be sure that you're logging in via sandbox (test.salesforce.com) and not production.
			</p>

			<div class="slds-notify slds-notify_toast" role="alert">

				<div class="slds-notify__content">
					<h2 class="slds-text-heading_small ">Your username is
						<strong id="username">{{mainUser.username}}</strong>
						and your password is
						<strong id="password">{{mainUser.password}}</strong>
					</h2>
				</div>
			</div>

		</div>
	</div>

	<div id="secondaryUserBlock" style="display: none;">
		<div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">

			<div class="slds-notify slds-notify_toast slds-theme_warning" role="alert">

				<div class="slds-notify__content" id="secondaryUserArray">
				</div>
			</div>

		</div>
	</div>

	<div id="errorBlock" v-if="errors.length > 0">
		<div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">

			<div class="slds-notify slds-notify_toast slds-theme_error" role="alert">

				<div class="slds-notify__content">
					<h2 class="slds-text-heading_small ">
						<strong id="errorTest">An error occurred while deploying.</strong>&nbsp;See the browser console logs for more information.
							<div v-for="(e, index) in errors">
								<p>{{ index +1 }}. {{ e.error }}</p>
							</div>
					</h2>
				</div>
			</div>

		</div>
	</div>

	<div id="status" class="slds-m-bottom_small sfdx-output" v-if="commandResults.length > 0">
		<div v-for="(result, index) in commandResults">
			<p>{{ index +1 }}. {{result.shortForm || result.summary || result.command || result.raw }}</p>
		</div>
	</div>
</main>



<% include ../partials/footer %>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="/scripts/regular-messages-script.js" type="text/javascript"></script>
