<% include ../partials/sfdcHead %>
<header class="sfheader">
	<img class="sflogo" src="https://c1.sfdcstatic.com/content/dam/web/en_us/www/images/home/logo-salesforce.svg" width="89px" />
</header>

<div class="bluebar"></div>

<div class="trialContent">
	<div class="trialText">We're setting up your Lightning Plaform trial.</div>
	<div class="imgwrapper">
		<img src="https://a.sfdcstatic.com/content/dam/www/ocms-backup/common/assets/images/cloud.loader.gif" alt="loading cloud" />
	</div>
	<div class="trialText">You'll be logged in momentarily.</div>
</div>

</body>
</html>