a#loginUrl {
	color: initial;
	text-decoration: initial;
}

body {
	margin:0px;
	font-family: SalesforceSansRegular,Arial,sans-serif;
	color: #666;
	font-size: 15px;
	line-height: 160%;
}

.sfheader{
	height: 110px;
	display: flex;
	align-items: center;
}

.sflogo {
	height: 64px;
	width: 89px;
	margin-left: 40px;
}

.bluebar{
	height: 3px;
	width: 100%;
	margin-top: -3px;
	background-color: #00a1e0;
}

.trialContent {
	  height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
		align-items: center;
		margin-top: 50px;
		justify-content: space-around;
}

.trialContent .imgwrapper {
	flex-grow: 5;
}

.trialContent .imgwrapper img {
	height: 100%;
}