*, :after, :before {
    box-sizing: border-box;
}

.slds-text-heading_medium, .slds-text-heading--medium {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.25;
}
/* 
div {
    padding-top: 1rem;
} */

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

a {
    color: #006dcc;
    text-decoration: none;
    transition: color 0.1s linear;
}

.slds-illustration {
    text-align: center;
}

.slds-illustration.slds-illustration_small .slds-illustration__svg {
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 1rem;
    /* fill: #c2e8ff; */
}


.slds-illustration .slds-illustration__stroke-secondary {
    stroke: #c2e8ff;
}

.slds-illustration .slds-illustration__fill-secondary {
    fill: #c2e8ff;
}

.slds-illustration .slds-illustration__stroke-primary {
    stroke: #8cd3f8;
}

.slds-illustration .slds-illustration__fill-primary {
    fill: #8cd3f8;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

