<% include ../partials/head %>

<main class="slds-card">
	<div id="loaderBlock"><h2 class="slds-text-heading_medium slds-p-top_medium slds-p-bottom_medium sfdx-wrap"><img src="../dist/assets/images/loader.gif" style="width:27px;" /> Deploying <strong id="deployId"><%= deployId %></strong></h2></div>

	<div id="loginBlock" style="display: none;">
		<div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">

			<div class="slds-notify slds-notify_toast slds-theme_success" role="alert">
				<span class="slds-assistive-text">warning</span>

				<div class="slds-notify__content">
					<h2 class="slds-text-heading_small ">Nice! Your app has been deployed! You can access it at: <strong><a id="loginUrl" target="_blank" href=""></a></strong></h2>
				</div>
			</div>

			<p class="slds-m-around_large"><strong>Note:</strong> It can take up to 5 minutes for the my domain DNS to propogate. If the scratch org doesn't load, refresh it in a few minutes.</p>

		</div>
	</div>

	<div id="passwordBlock" style="display: none;">
		<div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">

			<div class="slds-notify slds-notify_toast" role="alert">
				<span class="slds-assistive-text">warning</span>

				<div class="slds-notify__content">
					<h2 class="slds-text-heading_small ">Your username is
						<strong id="username"></strong>
						 and your password is
						<strong id="password"></strong>
					</h2>
				</div>
			</div>

		</div>
	</div>

	<div id="errorBlock" style="display: none;">
		<div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">

			<div class="slds-notify slds-notify_toast slds-theme_error" role="alert">
				<span class="slds-assistive-text">Error</span>

				<div class="slds-notify__content">
					<h2 class="slds-text-heading_small ">
						<strong id="errorTest">An error occurred while deploying.</strong>&nbsp;See the browser console logs for more information.
					</h2>
				</div>
			</div>

		</div>
	</div>

	<div id="status" class="slds-m-bottom_small sfdx-output"></div>
	<script>
		// works for both http and https
		const HOST = location.href.replace(/^http/, 'ws');
		let msgCounter = 0;
		console.log(HOST);

		const deployIdInput = document.getElementById('deployId');
		console.log(deployIdInput);

		const deployId = deployIdInput.innerText;
		console.log(deployId);

		const ws = new WebSocket(HOST);
		let pinger;

		// const deployId = deployIdInput.value;

		// console.log(deployId);

		ws.onmessage = function (event) {
			msgCounter++;
			// console.log(event);
			let parsedData;
			try {
				parsedData = JSON.parse(event.data);
			} catch (err) {
				console.log('unparseable message (not JSON)');
				console.log(event.data);
			}
			if (parsedData){
				if (parsedData.deployId === deployId) {
						console.log(parsedData);
						displayContent(parsedData.content);
					} else {
						console.log('not mine');
						console.log(parsedData);
					}
				}
			};

		ws.onopen = function () {
			console.log('WS is open!');
			pinger = setInterval(function(){
				ws.send('ping');
			}, 5000);
		};

		ws.onclose = function(){
			console.log('WS is closing');
			clearInterval(pinger);
		}

		displayContent = function(content){
			// the login url
			if (content.includes('ERROR')){
				console.log('an error occurred');
				console.log(content);
				document.getElementById("errorBlock").setAttribute("style", "display : block");
			} else if (content.includes('secur/frontdoor')){
				console.log('This is the login url in JSON');
				let goodstuff = JSON.parse(content);
				var link = document.getElementById("loginUrl");
				link.href = goodstuff.result.url;
				link.innerHTML = goodstuff.result.url;
				document.getElementById("loginBlock").setAttribute("style", "display : block");
			} else if (content.includes('password')) {
				let goodstuff = JSON.parse(content);
				document.getElementById("password").innerHTML = goodstuff.result.password;
				document.getElementById("passwordBlock").setAttribute("style", "display : block");
				defaultContent('Password Generated');
			} else if (content.includes('pushedSource')) {

				defaultContent('Source Pushed');
				// // let's create an array to share
				// var element = document.getElementById("status");
				// var para = document.createElement("p");
				// para.classList.add('slds-m-vertical_medium');
				// var ul = document.createElement("ul");
				// ul.classList.add('slds-list_vertical');

				// let goodstuff = JSON.parse(content);
				// for (let line of goodstuff.result.pushedSource){
				// 	var li = document.createElement("li");
				// 	var node = document.createTextNode(line.state + ' ' + line.fullName + ' (' + line.type + ')' );
				// 	li.appendChild(node);
				// 	ul.appendChild(li);
				// }
				// para.appendChild(ul);
				// var element = document.getElementById("status");
				// element.appendChild(para);
				//refId
			} else if (content.includes('Permsets Assigned')) {
				defaultContent('Assigned Perm Sets (see console logs for details)');
			} else if (content.includes('Import Results')) {
				defaultContent('Loaded some data (see console logs for details)');
			} else if (content.includes('EXECUTION_FINISHED')) {
				defaultContent('Executed Apex (see console logs for details)');
			} else if (content.includes('username') && content.includes('orgId')) {
				let goodstuff = JSON.parse(content);
				document.getElementById("username").innerHTML = goodstuff.result.username;
				// document.getElementById("passwordBlock").setAttribute("style", "display : block");
				defaultContent('Scratch org created with username ' + goodstuff.result.username);
			} else if (content.includes('ALLDONE')) {
				document.getElementById("loaderBlock").setAttribute("style", "display : none");
				// document.getElementById("passwordBlock").setAttribute("style", "display : block");
			} else {
				// everything unspecified
				defaultContent(content);
			}

		}


		defaultContent = function(content){
			var para = document.createElement("p");
			para.classList.add('slds-m-vertical_medium');
			var node = document.createTextNode(msgCounter + '. ' + content);
			para.appendChild(node);

			var element = document.getElementById("status");
			element.appendChild(para);
		}

	</script>

</main>
<% include ../partials/footer %>