<% include ../partials/head %>

<main class="slds-card">
	<div id="loaderBlock"><h2 class="slds-text-heading_medium slds-p-top_medium slds-p-bottom_medium sfdx-wrap"><img src="../dist/assets/images/loader.gif" style="width:27px;" /> Deployment ID <strong id="deployId"><%= deployId %></strong></h2></div>

	<div id="loginBlock" style="display: none;">
		<div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">


			<div class="slds-notify slds-notify_toast slds-theme_success" role="alert">
				<span class="slds-assistive-text">warning</span>

				<div class="slds-notify__content">
					<h2 class="slds-text-heading_small ">Nice! Your app has been deployed! You can access it at: <strong><a id="loginUrl" target="_blank" href=""></a></strong></h2>
				</div>
			</div>

			<p class="slds-m-around_large"><strong>Note:</strong> It can take up to 5 minutes for the my domain DNS to propogate. If the scratch org doesn't load, refresh it in a few minutes.</p>

		</div>
	</div>

	<textarea id="status" class="slds-m-bottom_small sfdx-output"></textarea>
	<script>
		const HOST = location.href.replace(/^http/, 'ws');
		console.log(HOST);

		const ws = new WebSocket(HOST);
		const deployIdInput = document.getElementById('deployId');
		console.log(deployIdInput);

		let pinger;

		function startPing() {
			pinger = setTimeout(() => ws.send('ping'), 10000);
		}
		// const deployId = deployIdInput.value;

		// console.log(deployId);

		ws.onmessage = function (event) {
			// console.log(event);
			console.log(event.data);
			// if (event.data.deployId === deployId){
			// 	console.log('mine');
			// 	console.log(event.data);
			// } else {
			// 	console.log('not mine');
			// 	console.log(event.data);
			// }
		};

		ws.onopen = function () {
			startPing();
		};

	</script>

</main>
<% include ../partials/footer %>